@model Timeoff.Application.Users.CalendarViewModel
<dl>
    <dt>
        Allowance breakdown
        <i class="fa fa-question-circle"
           data-content="This is explanation how we get the total allowance. Hover on each number to get details what does one mean."
           data-placement="top"
           data-toggle="popover"
           data-trigger="focus hover"></i>
    </dt>
    <dd>
        <em>Nominal allowance </em>
        <span class="pull-right"
              data-content="Allowance derived from department current user belongs to."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
              id='nominalAllowancePart'>@Model.Allowance</span>
    </dd>
    <dd>
        <em>Carried over from @Model.PreviousYear</em>
        <span class="pull-right"
              data-content="Allowance carried over from previous year. Note: this amount is calculated on the very first day of the year."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
              id="allowanceCarriedOverPart">@Model.CarryOver</span>
    </dd>
    <dd>
        <em>Individual adjustment</em>
        <span class="pull-right"
              data-content="Adjustment to allowance done by admin user."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover">@Model.Adjustment</span>
    </dd>
    <dd>
        <em>Start/end of employment</em>
        <span class="pull-right"
              data-content="Automatic adjustment to allowance based on employee's start and end day of employment."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover">@Model.EmploymentAdjustment</span>
    </dd>
    <dd>
        <em>Used so far</em>
        <span class="pull-right"
              data-content="Number of days already taken from allowance."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover">
            @if (Model.Used == 0)
            {
                @:-
            }
            else
            {
                @Model.Used
            }
        </span>
    </dd>
    @if (Model.IsAccrued)
    {

        <dd>
            <em>Locked so far</em>
            <span class="pull-right"
                  data-content="Number of unavailable days in allowance due to accrual nature of vacation entitlement."
                  data-placement="top"
                  data-toggle="popover"
                  data-trigger="focus hover">@Model.AccruedAdjustment</span>
        </dd>
    }
</dl>
