@model Timeoff.Application.Users.CreateViewModel
@using Timeoff
<h1>New employee</h1>

<div class="row">
    <div class="col-md-6 lead">Adding new employee account</div>
    <div class="col-md-6">
        <a class="btn btn-default pull-right" asp-controller="users" asp-action="import" id="import_users_btn">Import new employees <i class="fa fa-chevron-right"></i></a>
    </div>
</div>

<partial name="_Flash" model="Model.Messages" />

<div class="row">
    <div class="col-md-6">
        <ol class="breadcrumb">
            <li><a asp-controller="users" asp-action="index">All Employees</a></li>
            <li class="active">Add new employee</li>
        </ol>
    </div>
</div>

<div class="row main-row_header">
    <p class="col-md-12">Details of new employee</p>
</div>

<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal" method="POST" asp-controller="users" asp-action="addpost" id="add_new_user_form">

            <div class="form-group">
                <label asp-for="FirstName" class="col-md-3 control-label">First Name</label>
                <div class="col-md-3">
                    <input class="form-control" asp-for="FirstName" required value="@Model.FirstName">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="col-md-3 control-label">Last Name</label>
                <div class="col-md-3">
                    <input class="form-control" asp-for="LastName" required value="@Model.LastName">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="col-md-3 control-label">Email Address</label>
                <div class="col-md-3">
                    <input class="form-control" asp-for="Email" type="email" required value="@Model.Email" aria-describedby="email_help">
                </div>
                <span id="email_help" class="help-block col-md-6">Email address used by employee</span>
            </div>

            <div class="form-group">
                <label asp-for="TeamId" class="col-md-3 control-label">Team</label>
                <div class="col-md-3">
                    <select class="form-control" asp-for="TeamId" aria-describedby="team_help">
                        @foreach (var item in Model.Teams)
                        {
                            <option value="@item.Id" data-vpp="@item.Id" selected="@(item.Id == Model.TeamId)">@item.Value</option>
                        }
                    </select>
                </div>
                <span id="team_help" class="help-block col-md-6">Team employee belongs to</span>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-md-offset-3">
                    <label asp-for="IsAdmin" class="_col-md-2 control-label">
                        <input class="" asp-for="IsAdmin" type="checkbox" checked="@Model.IsAdmin" />
                        Is administrator user
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-md-offset-3">
                    <label asp-for="AutoApprove" class="control-label">
                        <input class="" asp-for="AutoApprove" type="checkbox" checked="@Model.AutoApprove">
                        Auto approve leave requests
                    </label>
                </div>
                <span class="help-block">Set the flag ON to streamline leave requests from this employee directly into <strong>Approved</strong> state.</span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="col-md-3 control-label">Started on</label>
                <div class="col-md-3 date">
                    <input class="form-control" type="text" asp-for="StartDate" required data-date-autoclose="1" data-provide="datepicker" data-date-format="@Model.DateFormat.ToJsFormat()" data-date-week-start="1" value="@Model.StartDate?.ToString(Model.DateFormat)" aria-describedby="start_date_help">
                </div>
                <span id="start_date_help" class="help-block col-md-6">Date when employee started (inclusive)</span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate" class="col-md-3 control-label">Ended on</label>
                <div class="col-md-3 date">
                    <input class="form-control" type="text" asp-for="EndDate" data-date-autoclose="1" data-provide="datepicker" data-date-format="@Model.DateFormat.ToJsFormat()" data-date-week-start="1" value="@Model.EndDate?.ToString(Model.DateFormat)" aria-describedby="end_date_help">
                </div>
                <span id="end_date_help" class="help-block col-md-6"><div>Date when employee quits the @Model.CompanyName.</div><div>After this date the user is no longer able to access the application.</div><div>This is a way of deactivating user accounts.</div></span>
            </div>

            @*<div class="form-group">
            <label for="password_inp" class="col-md-3 control-label">Password</label>
            <div class="col-md-3 date">
            <input class="form-control" id="password_inp" type="password" name="password_one" required value="" {{#if company.ldap_auth_enabled}} readonly {{ /if}} aria-describedby="password_inp_help">
            </div>
            <span id="password_inp_help" class="help-block col-md-6">
            {{# if company.ldap_auth_enabled }}
            <a href="/settings/company/authentication/">LDAP authentication</a> is enabled, so that password does not matter.
            {{else}}
            Define employee's password.
            {{/ if}}
            </span>
            </div>

            <div class="form-group">
            <label for="password_inp" class="col-md-3 control-label">Confirm password</label>
            <div class="col-md-3">
            <input class="form-control" id="confirm_password_inp" type="password" name="password_confirm" required value="" {{# if company.ldap_auth_enabled}}readonly{{ /if}}>
            </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-3 col-md-3">
                    <button type="submit" id="add_new_user_btn" class="btn btn-success pull-right single-click">Add new employee</button>
                </div>
            </div>
        </form>

    </div>
</div>
