@model Timeoff.Application.Calendar.CalendarViewModel

<h1>Employee calendar</h1>

<div class="row">
    <div class="col-md-6 lead">@Model.Name's calendar for @Model.CurrentYear</div>
    <div class="col-md-6">
    </div>
</div>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row main-row_header hidden-xs">
    <div class="col-md-12">Statistics</div>
</div>

<div class="row">

    <div class="col-md-3 top-leave-type-statistics">
        <dl>
            <dt data-tom-days-available-in-allowance>@Model.AllowanceSummary.Remaining</dt>
            <dd>Days available</dd>
            <dd>out of <span data-tom-total-days-in-allowance>@Model.AllowanceSummary.TotalAllowance</span> in allowance</dd>
        </dl>
    </div>

    <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
        <partial name="_AllowanceBreakdown" model="Model.AllowanceSummary" />
    </div>

    <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
        <partial name="_LeaveSummary" model="Model.AllowanceSummary"/>
    </div>

    <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
        <dl>
            <dt>Details</dt>
            <dd>
                <em>Supervisor:&nbsp;</em>
                <span class="pull-right"><a href="mailto:@Model.Statistics.Manager.Email">@Model.Statistics.Manager.Name</a></span>
            </dd>
            <dd><em>Team:</em> <span class="pull-right"><a asp-controller="calendar" asp-action="teamview" asp-route-team="@Model.Statistics.Team.Id">@Model.Statistics.Team.Value</a></span></dd>
            <dd><em>Allowance in @Model.CurrentYear:</em><span class="pull-right"> @Model.AllowanceSummary.TotalAllowance days</span>
            <dd>
        </dl>
    </div>

</div>

<div class="row">
</div>

<div class="row main-row_header">
    <div class="col-md-12">Calendar <a asp-controller="calendar" asp-action="feeds" data-toggle="tooltip" data-placement="right" title="Export absences  to external calendars"><span class="fa fa-rss"></span></a></div>
</div>

<div class="row">
    <div class="col-xs-2">
        @if (Model.ShowFullYear)
        {
           <a class="btn btn-default" asp-controller="calendar" asp-action="index" asp-route-year="@Model.LastYear" asp-route-ShowFullYear="true"><span aria-hidden="true" class="fa fa-chevron-left"></span> @(Model.LastYear) </a>
        }
    </div>
    <div class="col-xs-8 calendar-section-caption">

       
        <strong>
            @if (Model.ShowFullYear)
            {
                @:January - December
            }
            else
            {
                @:Upcoming Months
            }
        </strong>
        &nbsp;

        @if (Model.ShowFullYear)
        {
            <a class="btn btn-default" asp-controller="calendar" asp-action="index">Less... &nbsp;<span class="fa fa-minus"></span></a>

        }
        else
        {
            <a class="btn btn-default" asp-controller="calendar" asp-action="index" asp-route-ShowFullYear="true">More... &nbsp;<span class="fa fa-plus"></span></a>
            
        }
    </div>
    <div class="col-xs-2">
        @if (Model.ShowFullYear) {
            <a class="btn btn-default pull-right" asp-controller="calendar" asp-action="index" asp-route-year="@Model.NextYear" asp-route-ShowFullYear="true">@Model.NextYear <span aria-hidden="true" class="fa fa-chevron-right"></span></a>
        }
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row clearfix">

    @foreach (var month in Model.Calendar)
    {
    <div class="col-md-3 month_container">
        <table class="calendar_month month_@month.Date.ToString("MMMM")">
            <thead>
                <tr>
                    <td colspan="14">
                        @if (Model.ShowFullYear)
                        {
                            @month.Date.ToString("MMMM")
                        }
                        else
                        {
                            @month.Date.ToString("MMM, yyyy")
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">M</td>
                    <td colspan="2">T</td>
                    <td colspan="2">W</td>
                    <td colspan="2">T</td>
                    <td colspan="2">F</td>
                    <td colspan="2">S</td>
                    <td colspan="2">S</td>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                }
                @foreach (var item in month.Days)
                    {
                        if (count %7 == 0)
                        {
                            @:<tr>
                        }
                        <partial name="_CalendarCell" model="item"/>
                        @if (count %7 == 7)
                        {
                            @:</tr>
                        }
                        count++;
                    }
            </tbody>
        </table>
    </div>
    }

</div>

@if (!Model.ShowFullYear)
{
    <div class="row main-row_header">
        <p class="col-md-12">All my absences in @Model.CurrentYear</p>
    </div>

    @:{{> user_requests leaves=current_user.my_leaves }}

}
