@model Timeoff.Application.TeamView.TeamViewModel
<h1>Team View</h1>

<div class="row">
    <div class="col-md-6 lead">@Model.Name's team <a asp-controller="Calendar" asp-action="Feeds" data-toggle="tooltip" data-placement="right" title="Export Team View to external calendars"><span class="fa fa-rss"></span></a></div>
    <div class="col-md-3 col-md-offset-3">
        <div class="btn-group btn-group-sm pull-right" role="group">
            <a asp-controller="calendar" asp-action="teamview" asp-route-year="@Model.CurrentDate.Year" asp-route-month="@Model.CurrentDate.Month" class="btn btn-default" disabled="@(!Model.Grouped)">All</a>
            <a asp-controller="calendar" asp-action="teamview" asp-route-grouped="true" asp-route-year="@Model.CurrentDate.Year" asp-route-month="@Model.CurrentDate.Month" class="btn btn-default" disabled="@Model.Grouped">By team</a>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<nav>
    <div class="row">
        <div class="col-xs-2">
            <a class="btn btn-link btn-lg" asp-route-year="@Model.Previous.Year" asp-route-month="@Model.Previous.Month" asp-route-team="@Model.SelectedTeam" asp-route-grouped="@Model.Grouped"><span aria-hidden="true" class="fa fa-chevron-left"></span> @Model.Previous.ToString("MMM")</a>
        </div>

        <div class="col-xs-8 calendar-section-caption">
            <button id="team_view_month_select_btn" class="btn btn-link btn-lg" data-tom="@Url.Action(controller:"calendar", action:"teamview",values:new{dept= Model.SelectedTeam})" data-provide="datepicker" data-date-format="yyyy-mm" data-date-autoclose="1" data-date-min-view-mode="months">@Model.CurrentDate.ToString("MMMM, yyyy") <i class="fa fa-angle-down"></i></button>
        </div>

        <div class="col-xs-2">
            <a class="btn btn-link btn-lg pull-right" asp-route-year="@Model.Next.Year" asp-route-month="@Model.Next.Month" asp-route-team="@Model.SelectedTeam" asp-route-grouped="@Model.Grouped">@Model.Next.ToString("MMM") <span aria-hidden="true" class="fa fa-chevron-right"></span></a>
        </div>
    </div>
</nav>

<div class="row">&nbsp;</div>

@if (Model.Grouped)
{
    var index = 0;
    @foreach (var team in Model.Teams)
    {
        if (index > 0)
        {
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>

        }
        await TeamView(team.Id);
        index++;
    }
}
else
{
    await TeamView(null);
}

<div class="row clearfix">&nbsp;</div>

@functions{
    public async Task TeamView(int? teamId)
    {
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="team-view-table table-hover">
                    <thead>
                        <tr>
                            <td class="team-view-header" colspan="2">
                                    @if (teamId == null)
                                    {
                                        <div class="dropdown pull-left">
                                            <button class="btn btn-default dropdown-toggle left-column-cell" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                @if (Model.SelectedTeam.HasValue)
                                                {
                                                    @Model.Teams.FirstOrDefault(d => d.Id == Model.SelectedTeam.Value)?.Value
                                                }
                                                else
                                                {
                                                    @:All teams
                                                }
                                                <span class="caret"></span>
                                            </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a asp-route-year="@Model.CurrentDate.Year" asp-route-month="@Model.CurrentDate.Month">All</a></li>
                                            <li role="separator" class="divider"></li>
                                            @foreach (var item in Model.Teams)
                                            {
                                                <li><a asp-route-year="@Model.CurrentDate.Year" asp-route-month="@Model.CurrentDate.Month" asp-route-team="@item.Id">@item.Value</a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="pull-left">
                                        <h3>@Model.Teams.First(t=>t.Id == teamId.Value).Value</h3>
                                    </div>
                                }

                            </td>

                            @for (int i = 0; Model.CurrentDate.AddDays(i).Month == Model.CurrentDate.Month; i++)
                            {
                                <td colspan="2" class="team-view-header"><b>@Model.CurrentDate.AddDays(i).ToString("ddd")</b></td>
                            }

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in Model.Users.Where(u => teamId == null ? true : u.TeamId ==  teamId.Value))
                        {
                            <tr class="teamview-user-list-row" data-vpp-user-list-row="@user.UserId">
                                <td class="left-column-cell cross-link user-details-summary-trigger" data-user-id="@user.UserId">
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <a asp-controller="users" asp-action="edit" asp-route-id="@user.UserId">@user.Name</a>
                                    }
                                    else
                                    {
                                        <span>@user.Name</span>
                                    }
                                </td>
                                <td>
                                    @{
                                        var days = Model.DaysDeducted(user.UserId);
                                    }
                                    <span class="teamview-deducted-days"
                                        data-content="In @Model.CurrentDate.ToString("MMMM, yyyy") @user.Name used @days days from allowance"
                                        data-placement="right"
                                        data-toggle="popover"
                                        data-trigger="focus hover">@days</span>
                                </td>
                                @for (DateTime i = Model.CurrentDate; i.Month == Model.CurrentDate.Month; i = i.AddDays(1))
                                {
                                    var day = Model.CalendarDays.FirstOrDefault(d => d.Date == i && d.UserId == user.UserId) ?? new()
                                    {
                                        Date = i
                                    };
                                    <partial name="_CalendarCell" model="day" />
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    }
}