@model Timeoff.Application.Reports.EmailAuditViewModel
@using Timeoff;
<h1>Emails audit</h1>

<div class="row">
    <div class="col-md-6 lead">All emails ever been sent by the system</div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="content">
        <div class="col-md-3">
            <table class="table table-hover all-teams">
                <thead>
                    <tr>
                        <th>Filter options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form asp-controller="Audit" asp-action="Emails" method="GET">
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" asp-for="Start" class="form-control" placeholder="Start Date"
                                           data-provide="datepicker" data-date-autoclose="1" data-date-format="@Model.DateFormat.ToJsFormat()" data-date-week-start="1"
                                           value="@Model.Start?.ToString(Model.DateFormat)">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" asp-for="End" class="form-control" placeholder="End Date"
                                           data-provide="datepicker" data-date-autoclose="1" data-date-format="@Model.DateFormat.ToJsFormat()" data-date-week-start="1"
                                           value="@Model.End?.ToString(Model.DateFormat)">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" asp-for="UserId">
                                        <option value="">Employee to filter by</option>
                                        @foreach (var item in Model.Users)
                                        {
                                            <option value="@item.Id" selected="@(item.Id == Model.UserId)">@item.Value</option>
                                        }
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-info single-click">Filter</button>
                                @if (Model.ShowReset)
                                {
                                    <a asp-action="Emails" class="btn btn-default">Reset</a>
                                }
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-9">
            <table class="table table-hover" id="email_list">
                <thead>
                    <tr>
                        <th>To Employee</th>
                        <th>Subject</th>
                        <th>Date And Time</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Emails.Any())
                    {
                        <tr>
                            <td colspan="3">
                                <div class="text-center">No emails recorded yet</div>
                            </td>
                        </tr>
                    }

                    @foreach (var item in Model.Emails)
                    {
                        <tr id="heading_@item.Id" class="vpp-email-audit-entry-header">
                            <td class="user-link-cell">
                                <a asp-action="Emails" asp-route-userid="@item.UserId">@item.Name</a>
                            </td>
                            <td>
                                <a class="collapsed" data-toggle="collapse" data-parent="#email_list" href="#collapse_@item.Id">
                                    @item.Subject
                                </a>
                            </td>
                            <td>
                                @item.CreatedAt.ToString($"{Model.DateFormat} HH:mm:ss")
                            </td>
                        </tr>
                        <tr id="collapse_@item.Id" class="collapse">
                            <td colspan=3>
                                <address>
                                    <strong>To Email:</strong>
                                    <a href="mailto:#">@item.Email</a>
                                </address>
                                <html-to-text>@Html.Raw(item.Body)</html-to-text>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-center">
                @if (Model.Emails.Any())
                {
                    <partial name="_Pager" model="Model.Pager" />
                }
            </div>

        </div>

    </div>
</div>

<div class="row">&nbsp;</div>
