@model Timeoff.ResultModels.EditDepartmentViewModel
<form method="POST" asp-controller="Departments" asp-action="Update" asp-route-id="@Model.Id" id="department_edit_form">

    <div class="col-md-7">

        <ol class="breadcrumb">
            <li><a asp-controller="Departments" asp-action="Index" data-vpp-all-departments-link="1">All departments</a></li>
            <li class="active">@Model.Name</li>
        </ol>

        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input class="form-control" id="name" asp-for="Name" required value="@Model.Name">
        </div>


        <div class="form-group">
            <label asp-for="ManagerId" class="control-label">Manager</label>
            <select class="form-control" asp-for="ManagerId" id="manager_id">
                @foreach (var item in Model.Users)
                {
                    <option value="@item.Id" selected="@(item.Id == Model.ManagerId)">@item.Value</option>
                }
            </select>
            <span class="help-block">Head of @Model.Name department. Main manager. <a asp-controller="users" asp-action="edit" asp-route-id="@Model.ManagerId">More details <i class="fa fa-angle-double-right"></i></a></span>
        </div>

        @*<div class="form-group">
            <label class="control-label">Secondary supervisors (BETA)</label>
            <ul class="list-group no-bottom-space">
                {{# each department.supervisors }}

                <li class="list-group-item">
                    <span><a href='/users/edit/{{ this.id }}/'>{{ this.full_name }}</a> <button type="submit" name="remove_supervisor_id" value="{{this.id}}" class="pull-right btn btn-link btn-xs"><i class="fa fa-trash"></i> Remove</button><span>
                </li>
                {{/ each }}

                <li class="list-group-item">
                    <span>
                        &nbsp;
                        <a class="pull-right btn btn-link btn-xs"
                           data-vpp-add-new-secondary-supervisor="1"
                           data-toggle="modal"
                           data-target="#add_secondary_supervisers_modal"
                           data-department_id="{{department.id}}"
                           data-department_name="{{department.name}}">
                            <i class="fa fa-plus"></i> Add new secondary supervisor
                        </a>
                        <span>
                </li>
            </ul>
            <span class="help-block">List of users who also could decide on leave requests from {{department.name}} department's employees.</span>
        </div>*@


        <div class="form-group">
            <label asp-for="Allowance">Allowance</label>

            <select class="form-control" asp-for="Allowance" id="allowance_select">
                @foreach (var item in Model.Allowances)
                {
                    <option value="@item" selected="@(Model.Allowance== item)">@(item == 0 ? "None":item)</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="IncludePublicHolidays" class="control-label">
                <input class="" type="checkbox" asp-for="IncludePublicHolidays" checked="@Model.IncludePublicHolidays" value="true">
                Include public holidays
            </label>
            <span class="help-block">Determine if employees from @Model.Name have <a asp-controller="settings" asp-action="general" />bank holidays</a> in addition to their allowance</span>
        </div>

        <div class="form-group">
            <label asp-for="IsAccruedAllowance" class="control-label">
                <input class="" type="checkbox" asp-for="IsAccruedAllowance" checked="@Model.IsAccruedAllowance" value="true">
                Accrued allowance
            </label>
            <span class="help-block">If enabled, holiday allowance starts to build up - or accrue - from the first day of employment. It accrues in proportion to the annual entitlement. E.g. an employee in the ninth month of employment would have built up 9/12ths (or three-quarters) of annual entitlement.</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button id="save_changes_btn" type="submit" class="btn btn-success pull-right single-click">Save changes to department</button>
            <a class="btn btn-link pull-right" asp-controller="Departments" asp-action="Index">Cancel</a>
        </div>
    </div>

</form>

@*{{> department_details/supervisers_modal department=department }}
<partial name="_SupervisorModal" />*@