@model Timeoff.Application.Teams.TeamsViewModel
<h1>Teams</h1>
<partial name="_Flash" model="Model.Result" />
<div class="row">
    <div class="col-md-4 lead">All teams</div>
    <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#add_new_team_modal" type="button" id="add_new_team_btn">Add new team</button>
    </div>
</div>


<div class="row">&nbsp;</div>

@if(!Model.Teams.Any())
{
<div class="row">
    <div class="col-md-4">No team records</div>
</div>
}

<div class="row">

    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Manager</th>
                    <th>Allowance</th>
                    <th>Number Employees</th>
                    <th>
                        Public Holidays
                        <button type="button"
                                class="btn btn-xs btn-link"
                                data-content="If set to YES, employees from team have public holidays added on top of their allowance"
                                data-placement="top"
                                data-toggle="popover"
                                data-trigger="focus hover">
                            <span class="fa fa-question-circle"> </span>
                        </button>
                    </th>
                    <th>
                        Accrued Allowance
                        <button type="button"
                                class="btn btn-xs btn-link"
                                data-content="If set to YES, holiday allowance starts to build up - or accrue - from the first day of employment. It accrues in proportion to the annual entitlement. E.g. an employee in the ninth month of employment would have built up 9/12ths (or three-quarters) of annual entitlement."
                                data-placement="top"
                                data-toggle="popover"
                                data-trigger="focus hover">
                            <span class="fa fa-question-circle"> </span>
                        </button>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Teams)
                {
                    
                <tr data-vpp-team-list-mode="readonly">
                    <td><a asp-controller="Teams" asp-action="Edit" asp-route-id="@item.Id" data-vpp-team-name=1>@item.Name</a></td>
                    <td><a asp-controller="Users" asp-action="Edit" asp-route-id="@item.ManagerId">@Model.GetName(item.ManagerId)</a></td>
                    <td>
                        @item.Allowance
                    </td>
                    <td><a asp-controller="Users" asp-action="Index" asp-route-team="@item.Id">@item.EmployeeCount</a></td>
                    <td>@(item.IncludePublicHolidays ? "Yes":"")</td>
                    <td>@(item.IsAccruedAllowance ? "Yes":"")</td>
                    <td><a asp-controller="Teams" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link btn-xs pull-right"><span class="fa fa-chevron-right"></span></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<partial name="_AddNewTeamModal" />

@section Scripts {
    <script src="~/js/teams.js"></script>
}